* {
  box-sizing: border-box
}

body {
  font-family: Verdana, sans-serif; margin:0
}

.container {
	display: grid;
  grid-template-columns: 20% 80%;
	grid-gap: 10px;
}

.item {
  background-color: white;
  padding: 50px;
  border: 1px solid black;
  font-style: normal;
  text-decoration: underline;
}
.header{
  border: 1px solid rgba(241, 198, 3, 0.952);;
  grid-area: header;
  background-color: rgba(241, 198, 3, 0.952);;
}


/* Opciones de Galería */
.subItem {
  background-color: white;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  color: rgb(9, 38, 170);
  margin-bottom: 10px;

}


.foto {
  position: relative;
  float: left;
  align-content: center;
  max: width 300px; ;
  max: height 400px;;
  width: 50px;
}

.flecha {
  align-content: center;
  position: relative;
  border: 1px solid black;
  margin: 120px; /* Dejarlo asi en 120px de preferencia */
  font-size: 50px;
  float: left; /* Esto hace que se coloquen los divs uno al lado del otro */

}
.footer {
  grid-area: footer;
  background-color: rgba(241, 198, 3, 0.952);
}

img {
  vertical-align: middle;
}

